* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  padding: 100px 20px 20px 20px;
}

nav {
  width: 80%;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 150px;
  top: 0px;
}
nav .border {
  border-bottom: white solid 2px;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-white.png);
}
nav .links {
  width: 542px;
  height: 42px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  align-items: center;
}
nav .links a {
  text-decoration: none;
  color: white;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .links .pipe {
  color: #ee4367;
  font-size: 35px;
}

.hero {
  max-width: 1280px;
  height: 500px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10px;
}

.hero h1 {
  display: flex;
  margin-left: 100px;
  margin-top: 90px;
  font-size: 60px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

.hero h2 {
  display: flex;
  margin-left: 450px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ee4367;
}

.hero p {
  display: flex;
  margin-left: 400px;
  margin-top: 70px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.button {
  background-color: #ee4367;
  border: none;
  color: white;
  width: 121px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 550px;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.comment {
  width: 1280px;
  height: 300px;
  margin: 0 auto;
}
.comment p {
  width: 789px;
  height: 90px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 100px;
  margin: 0 auto;
}
.comment h1 {
  padding-top: 100px;
  padding-left: 250px;
  font-size: 15px;
  color: #ee4367;
  font-family: serif;
  text-decoration: none;
}
.comment h2 {
  font-size: 10px;
  padding-left: 250px;
  color: #a8a8a8;
  font-family: serif;
}

.events {
  width: 1280px;
  height: 320px;
  background-color: #540d6e;
  margin: 0 auto;
}
.events h1 {
  padding-top: 50px;
  padding-left: 50px;
  color: white;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}
.events .box {
  width: 70px;
  height: 70px;
  background-color: #ee4367;
  margin-left: 50px;
}
.events .box p {
  font-size: 22px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
}
.events .header {
  width: 140px;
  height: 41px;
  position: relative;
  left: 140px;
  bottom: 70px;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.events .paragraph {
  width: 140px;
  height: 78px;
  position: relative;
  left: 140px;
  bottom: 65px;
  color: #ee4367;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
}
.events .event-two {
  margin-left: 250px;
  position: relative;
  bottom: 189px;
}
.events .event-three {
  margin-left: 500px;
  position: relative;
  bottom: 377px;
}
.events .event-four {
  margin-left: 750px;
  position: relative;
  bottom: 566px;
}
.events .event-five {
  margin-left: 1000px;
  position: relative;
  bottom: 755px;
}

footer {
  width: 1280px;
  height: 455px;
  background-color: #ee4367;
  margin: 0 auto;
}
footer .logo {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo-white.png);
  margin: 0 auto;
  position: relative;
  top: 50px;
}
footer p {
  text-align: center;
  margin-top: 100px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
footer input[type=text] {
  position: relative;
  left: 250px;
  top: 50px;
  width: 529px;
  height: 60px;
  background-color: #f56b88;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
footer ::placeholder {
  color: white;
  opacity: 0.5;
}
footer .button {
  border: none;
  background-color: white;
  width: 167px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: #ee4367;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: 777px;
  bottom: 30px;
}
footer .facebook {
  width: 35px;
  height: 35px;
  position: relative;
  left: 550px;
  top: 4px;
  background-image: url(../images/kissclipart-transparent-background-facebook-icon-white-clipart-55c44242a2a6993e.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .instagram {
  width: 31px;
  height: 31px;
  position: relative;
  left: 600px;
  bottom: 30px;
  background-image: url(../images/Instagram-icon-WHITE.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .twitter {
  width: 31px;
  height: 31px;
  position: relative;
  left: 650px;
  bottom: 60px;
  background-image: url(../images/twitter-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .copyright {
  position: relative;
  bottom: 130px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.about-image {
  width: 979px;
  height: 378px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/about.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  padding-left: 270px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

.history {
  width: 980px;
  height: 96px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 10px;
}

.padding {
  padding: 55px;
}

.gallery {
  height: 700px;
}

.image-one {
  width: 489px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 270px;
}

.image-two {
  width: 187px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url(../images/2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 770px;
  bottom: 187px;
  position: relative;
}

.image-three {
  width: 265px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url(../images/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 970px;
  bottom: 374px;
  position: relative;
}

.image-four {
  width: 603px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url(../images/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 270px;
  position: relative;
  bottom: 350px;
}

.image-five {
  width: 355px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url(../images/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 890px;
  bottom: 656px;
  position: relative;
}

.food-image {
  width: 980px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.food-image .number {
  font-size: 300px;
  position: relative;
  top: 110px;
  right: 35px;
  color: #ffd140;
  text-shadow: 3px 2px 9px #000000;
}
.food-image .word {
  position: relative;
  left: 200px;
  bottom: 100px;
  font-size: 140px;
  color: #ffd140;
  text-shadow: 3px 2px 9px #000000;
}

.para-one p {
  width: 490px;
  height: 133px;
  position: relative;
  left: 270px;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.para-two p {
  width: 451px;
  height: 133px;
  position: relative;
  left: 800px;
  bottom: 97px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.image {
  width: 980px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url(../images/2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.image .number {
  font-size: 300px;
  position: relative;
  top: 110px;
  color: #ee4367;
  text-shadow: 3px 2px 9px #000000;
}
.image .word {
  position: relative;
  left: 300px;
  bottom: 100px;
  font-size: 140px;
  color: #ee4367;
  text-shadow: 3px 2px 9px #000000;
}

.para-one p {
  width: 490px;
  height: 133px;
  position: relative;
  left: 270px;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.para-two p {
  width: 451px;
  height: 133px;
  position: relative;
  left: 800px;
  bottom: 97px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.speech-image {
  width: 980px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url(../images/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.speech-image .number {
  font-size: 300px;
  position: relative;
  top: 110px;
  color: #08ad69;
  text-shadow: 3px 2px 9px #000000;
}
.speech-image .word {
  position: relative;
  left: 300px;
  bottom: 90px;
  font-size: 140px;
  color: #08ad69;
  text-shadow: 3px 2px 9px #000000;
}

.para-one p {
  width: 490px;
  height: 133px;
  position: relative;
  left: 270px;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.para-two p {
  width: 451px;
  height: 133px;
  position: relative;
  left: 800px;
  bottom: 97px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.foodfest-image {
  width: 980px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url(../images/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.foodfest-image .number {
  font-size: 300px;
  position: relative;
  top: 110px;
  color: #540d6e;
  text-shadow: 3px 2px 9px #000000;
}
.foodfest-image .word {
  position: relative;
  left: 250px;
  bottom: 70px;
  font-size: 115px;
  color: #540d6e;
  text-shadow: 3px 2px 9px #000000;
}

.para-one p {
  width: 490px;
  height: 133px;
  position: relative;
  left: 270px;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.para-two p {
  width: 451px;
  height: 133px;
  position: relative;
  left: 800px;
  bottom: 97px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.international-image {
  width: 980px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url(../images/5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.international-image .number {
  font-size: 300px;
  position: relative;
  top: 110px;
  color: #3bceab;
  text-shadow: 3px 2px 9px #000000;
}
.international-image .word {
  position: relative;
  left: 250px;
  bottom: 70px;
  font-size: 115px;
  color: #3bceab;
  text-shadow: 3px 2px 9px #000000;
}

.para-one p {
  width: 490px;
  height: 133px;
  position: relative;
  left: 270px;
  top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.para-two p {
  width: 451px;
  height: 133px;
  position: relative;
  left: 800px;
  bottom: 97px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.blog {
  height: 1000px;
  width: 1000px;
}
.blog h1 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.blog-one .box {
  width: 70px;
  height: 70px;
  background-color: #ee4367;
  margin-left: 270px;
}
.blog-one .box p {
  font-size: 22px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
}
.blog-one .header {
  width: 140px;
  height: 41px;
  position: relative;
  left: 140px;
  bottom: 70px;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-one .blog-image {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 350px;
  bottom: 70px;
}
.blog-one .header {
  width: 245px;
  height: 22px;
  color: black;
  margin-left: 210px;
  padding-top: 30px;
  font-size: 15px;
}
.blog-one .text {
  width: 386px;
  height: 64px;
  margin-left: 350px;
  position: relative;
  bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #ee4367;
}

.blog-two .box {
  width: 70px;
  height: 70px;
  background-color: #ee4367;
  margin-left: 270px;
}
.blog-two .box p {
  font-size: 22px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
}
.blog-two .header {
  width: 140px;
  height: 41px;
  position: relative;
  left: 140px;
  bottom: 70px;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-two .blog-image {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 350px;
  bottom: 70px;
}
.blog-two .header {
  width: 245px;
  height: 22px;
  color: black;
  margin-left: 210px;
  padding-top: 30px;
  font-size: 15px;
}
.blog-two .text {
  width: 386px;
  height: 64px;
  margin-left: 350px;
  position: relative;
  bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #ee4367;
}

.blog-three .box {
  width: 70px;
  height: 70px;
  background-color: #ee4367;
  margin-left: 270px;
}
.blog-three .box p {
  font-size: 22px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
}
.blog-three .header {
  width: 140px;
  height: 41px;
  position: relative;
  left: 140px;
  bottom: 70px;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-three .blog-image {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 350px;
  bottom: 70px;
}
.blog-three .header {
  width: 245px;
  height: 22px;
  color: black;
  margin-left: 210px;
  padding-top: 30px;
  font-size: 15px;
}
.blog-three .text {
  width: 386px;
  height: 64px;
  margin-left: 350px;
  position: relative;
  bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #ee4367;
}

.blog-four {
  position: relative;
  left: 500px;
  bottom: 913px;
}
.blog-four .box {
  width: 70px;
  height: 70px;
  background-color: #ee4367;
  margin-left: 270px;
}
.blog-four .box p {
  font-size: 22px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
}
.blog-four .header {
  width: 140px;
  height: 41px;
  position: relative;
  left: 140px;
  bottom: 70px;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-four .blog-image {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 350px;
  bottom: 70px;
}
.blog-four .header {
  width: 245px;
  height: 22px;
  color: black;
  margin-left: 210px;
  padding-top: 30px;
  font-size: 15px;
}
.blog-four .text {
  width: 386px;
  height: 64px;
  margin-left: 350px;
  position: relative;
  bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #ee4367;
}

.blog-five {
  position: relative;
  left: 500px;
  bottom: 913px;
}
.blog-five .box {
  width: 70px;
  height: 70px;
  background-color: #ee4367;
  margin-left: 270px;
}
.blog-five .box p {
  font-size: 22px;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
}
.blog-five .header {
  width: 140px;
  height: 41px;
  position: relative;
  left: 140px;
  bottom: 70px;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-five .blog-image {
  width: 380px;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  left: 350px;
  bottom: 70px;
}
.blog-five .blog-image #blog-five {
  width: 380px;
  height: 140px;
  display: block;
}
.blog-five .header {
  width: 245px;
  height: 22px;
  color: black;
  margin-left: 210px;
  padding-top: 30px;
  font-size: 15px;
}
.blog-five .text {
  width: 386px;
  height: 64px;
  margin-left: 350px;
  position: relative;
  bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #ee4367;
}

.blog-post-one {
  height: 800px;
}

.blog-image-one {
  width: 981px;
  height: 300px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url(../images/blog.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blog-image-one .box {
  width: 155px;
  height: 155px;
  background-color: #ee4367;
  margin: 0 auto;
  position: relative;
  top: 70px;
}
.blog-image-one .box p {
  font-size: 55px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
}

.header-one p {
  margin-left: 270px;
  margin-top: 40px;
  font-size: 20px;
  color: #ee4367;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-one {
  width: 856px;
  height: 125px;
  margin-left: 270px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.text-two {
  width: 856px;
  height: 84px;
  margin-left: 270px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.header-two {
  margin-left: 270px;
  font-size: 20px;
  color: #ee4367;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact {
  max-width: 980px;
  height: 100vh;
  margin: 0 auto;
}
.contact h1 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
  position: relative;
  right: 250px;
}

* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text] {
  position: relative;
}

textarea {
  position: relative;
}

form {
  width: 529px;
  height: 522px;
  bottom: 400px;
  left: 20px;
  position: relative;
}

.promo-button {
  padding: 10px 24px;
  background-color: #ee4367;
  border-radius: 0px;
  color: white;
  border: 2px solid #ee4367;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.map {
  max-width: 400px;
  height: 442px;
}

.map-one {
  background-image: url(../images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 580px;
  top: 45px;
}

@media (max-width: 850px) {
  .contact {
    flex-wrap: wrap;
  }

  .map {
    padding: 20px 40px;
  }
}