$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-purple: #540d6e;
$site-blue: #3bceab;
$site-green: #08ad69;
$overlay-yellow: rgba(255, 209, 64, 0.8);
$overlay-pink: rgba(238, 67, 103, 0.8);
$overlay-green: rgba(8, 173, 105, 0.8);
$overlay-purple: rgba(84, 13, 110, 0.8);
$overlay-blue: rgba(59, 206, 171, 0.8);
